body {
	background: url(http://www.planwallpaper.com/static/images/in-the-clouds-art-hd-wallpaper_du4XHK4.jpg);
	background-size: cover;
	background-position: centre;
	font-family: lato;
	color: white;
	padding-top: 70px;

}

html{
	height: 100%;
	width: 100%;
}

.btn-facebook{
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-twitter {
	width: 200px;
}


